<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head lang="en">
<meta charset="UTF-8" />
<title>Cheddar The Corgi</title>
<link rel="stylesheet" href="/style/main.css" />
</head>
<body>

	<div class="container">
		<div class="header-bar">
			<h1>Bem Vindo ao Cheddar The Corgi</h1>
			<p>Um encurtador de links. Registre-se ou faço login para criar
				um Link encurtado</p>
		</div>

		<div class="card-body">
			<a class="button">Entrar</a> <a class="button">Registrar-se</a>
		</div>

	</div>

	<!--     <script src="built/bundle.js"></script> -->

</body>
</html>